# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Compiled C code
obj/*
!obj/readme.md
bin/*
!bin/readme.md

# Add below lines to exclude OS settings and caches
.trash/
.DS_Store

# Ignore local note taking tools.
.obsidian/
.obsidian.vimrc

# ignore exported compile commands.
.cache/
build/
.gdb_history
.gdbinit
save
CMakeUserPresets.json
Makefile.user
install/

# GCOV output
*.gcov
*.info
coverage-html/
